/* src/App.css */

main {
  position: relative;
  z-index: 1;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
  
  /* --- HIDE THE SCROLLBAR --- */

  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer and older versions of Edge */
  -ms-overflow-style: none;
}

/* For WebKit-based browsers (Chrome, Safari, newer versions of Edge) */
main::-webkit-scrollbar {
  display: none;
}
